<!doctype html>
<html>
<head>
    <title> About Page </title>
    
    {% load static %}
    <link rel="stylesheet"  href="static/css/style.css" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <!----------------------------------- NAVIGATION BAR -------------------------->

 <div class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     <div class="container-fluid">
       <a class="navbar-brand text-warning" href="#"><b>DASHLANE</b></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
         <ul class="navbar-nav text-white ml-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="/random">Random-Game</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="/play">Play-Zone</a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="/about">About </a>
           </li>
           <li class="nav-item">
             <a class="nav-link active" href="/contact">Feedback </a>
           </li>
           
         </ul>  
         
       </div>
     </div>
   </nav>
   
   <!----------------------------------- HTML ---------------------------------->

   <div class="container-fluid">
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                This platform is created by two young ladies.which provides an interface so that users can enjoy their leisure time by doing fun activities with some simple clicks.
                This is a small platform created using Python and its Modules.This platform helps you in your recreation time to distress yourself.
                In today's life games are also known to promote relaxation. Obviously, games are one of the popular choices for entertainment. People with anxiety and depression can play games to relieve stress. Not only children, even adults play games for relaxation
                So, keeping in mind the importance of Gaming platforms in our user's life we tried creating our website Dashlane.
            </p>
            <div class="skills">
              
              <a href="/contact" class="btn btn-warning btn-lg " role="button" >Feedback</a>
              
            </div>
        </div>
    </div>
</div>

<!--............................HTML................................-->

<section class="ourteam">
    <div class="container text-center">
        <h1> OUR AMAZING TEAM</h1>
        <p>lets get to know the creators!</p>

        <div class="profiles">
            <div class="profile">
              <img src="/static/images/m8.jfif" class="profile-img">
      
              <h3 class="user-name">Taniya Pawar</h3>
              <h5>Game Developer</h5>
               <p>Working with them taught me teamwork is the ability to work together toward a common vision.</p>
                <p>The ability to direct individual accomplishments objectives.
                   
            </div>
            <div class="profile">
              <img src="/static/images/m1.jfif" class="profile-img">
      
              <h3 class="user-name">Merin Jain</h3>
              <h5>Web Developer</h5>
              <p>In team To effectively communicate, we must realize that we are all different in the way we perceive the world and use this understanding as a guide to our communication with others.</p>
            </div>
            <div class="profile">
              <img src="/static/images/img2.jpg" class="profile-img">
      
              <h3 class="user-name">Isabella Jhon</h3>
              <h5>Project Mentor</h5>
              <p>Talent wins games, but teamwork and intelligence wins championshipsIt is the fuel that allows common people to attain uncommon results.
               </p></p>
            </div>
          </div>
        </div>
    </div>

</section>

<!-----------------------------BRANDS-------------------------->

<div class="brandsPartner text-center">
    <h2>Brands Partner</h2>
    <div class="container-fluid">
      <div class = "row">
        <div class="row-5">
          <img src="/static/images/logo4.png">
        </div>
  
        <div class="row-5">
          <img src="/static/images/logo1.png">
        </div>
  
        <div class="row-5">
          <img src="/static/images/logo2.png">
        </div>
  
        <div class="row-5">
          <img src="/static/images/logo3.png">
        </div>
  
        <div class="row-5">
          <img src="/static/images/logo5.png">
        </div>
      </div>
    </div>
  </div>

<!----------------------------FOOTER---------------------------------->
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="f-col-1">
           <h3>Download Our App</h3>
           <p>Download App for android and ios mobile phone. </p>
           <div class="app-logo">
           <img src="/static/images/play-store.png">
           <img src="/static/images/app-store.png">
           </div>
        </div>
  
        <div class="f-col-2">
           <h3>DASHLANE</h3>
           <p>Our aim is to create sustainable product.</p> 
            <p>and to create a platform to relax chill and play games </p>
        </div>
  
        <div class="f-col-3">
          <h3>Useful Link</h3>
            <ul>
              <li>Cupons</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
        </div>
  
        <div class="f-col-4">
          <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
        </div>
      </div>
    </div>
    <hr>
      <p class="copyright">Copyright 2020 - Dashlane</p>
  </div>
  </body>
  </html>
  